<%= render "shared/header" %>
<div class="" style="width: 100%; height: calc(100vh - 70px); position: relative">
    <div style="width: inherit; height: inherit; opacity: 0.3; position: absolute; pointer-events: none"
    data-controller="map"
    data-map-markers-value="<%= @markers.each.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div style="position: absolute; z-index: 3; left: 50%; top:50%; transform: translate(-50%, -50%)" class="d-flex justify-content-center align-items-center flex-column">
    <%= image_tag "logo_with_text.png", alt:"Render Logo", width:"70%", class:"d-inline-block align-text-top" %>
    <form class="search-box" action="/artworks" accept-charset="UTF-8" method="get">
      <input type="text" name="query" id="query" placeholder="Search the artworks">
      <button type="submit" name="commit" value="Search" class="search-icon" data-disable-with="Search" style="border:0"><i class="fas fa-search"></i></button>
    </form>
    <%= link_to "See all Artworks", artworks_path, class:"btn btn-primary mt-4"%>
  </div>
</div>
<div class="container d-flex flex-column align-items-center">
  <div class="container mt-5">
  <div class="homepage-featured h4">Featured Artwork</div>
  <hr>
  <div class="bg-light mt-4">
    <div class="row mt-4 d-flex justify-content-start">
      <% @artworks.sample(3).each do |artwork| %>
        <%= render "card", artwork: artwork %>
      <% end %>
    </div>
  </div>
<hr>
</div>
