<%= render "shared/header" %>
<div class="container d-flex flex-column align-items-center">
  <%= image_tag "logo_with_text.png", alt:"Render Logo", width:"30%", class:"d-inline-block align-text-top" %>
  <%# <div class="search-box"> %>
    <%= form_with url: artworks_path, method: :get, class: "d-flex search-icon" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Location..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <%# <input type="text" placeholder="Location..."> %>
    <%# <div class="search-icon"> %>
      <%# <i class="fas fa-search"></i> %>
    <%# </div> %>
  <%# </div> %>
  <%= link_to "See all Artworks", artworks_path, class:"homepage-see-all mt-4"%>
  <div class="container mt-5">
  <div class="homepage-featured h4">Featured Artwork</div>
  <hr>
  <div class="bg-light mt-4">
    <div class="row mt-4 d-flex justify-content-start">
      <% @artworks.each do |artwork| %>
        <%= render "card", artwork: artwork %>
      <% end %>
    </div>
  </div>
</div>
