<%= render "shared/header" %>
<div class="container mt-4">
  <%= form_with url: artworks_path, method: :get, html: { class: "d-flex search-icon" } do |f| %>
    <%= f.text_field :query,
      value: params[:query],
      class: "form-control",
      placeholder: "Search..."
    %>
    <%= f.select(:price, options_for_select(Artwork.all.map(&:price).uniq, selected: params[:price]), { :include_blank => 'price' }, { class: "form-select select-category" }) %>
    <%= f.select(:artist, options_for_select(Artwork.all.map(&:user).map(&:first_name).uniq, selected: params[:artist]), { :include_blank => 'artist' }, { class: "form-select select-category" }) %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container bg-light">
  <div class="bg-light mt-4">
     <div class="row mt-4 d-flex justify-content-start">
      <% if @artworks.empty? %>
        <p>Couldn't find any artworks matching your criteria</p>
        <% @artworks_false_search.each do |artwork| %>
          <%= render "card", artwork: artwork %>
        <% end %>
      <% else %>
        <% @artworks.each do |artwork| %>
          <%= render "card", artwork: artwork %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
