<%= render "shared/header" %>
<div data-controller="booking-form">
  <div class="container mb-3">
    <div class="show-page-card card mt-4 shadow-sm card-size-limiter d-flex justify-content-between">
      <%# <div class="d-flex" style="max-height: inherit;"> %>
      <div class="card-content d-flex justify-content-between flex-column">
        <%# <div class="d-flex flex-column justify-content-between"> %>
        <div>
          <div class="card-title">
            <div class="d-flex justify-content-between align-items-center mt-3 px-3">
              <%# <div class="mt-3"> %>
                <h3><strong><%= @artwork.name %></strong></h3>
              <%# </div> %>
              <%# <div class="mt-3"> %>
                <i class="fa-solid fa-star fa-lg" style="color:#ffc300; line-height:1.05em !important;"> <span class="icon-text"><%= @artwork.average_rating %></span></i>
              <%# </div> %>
            </div>
            <div class="d-flex justify-content-between">

                <%# <div class="d-flex justify-content-start"> %>
                  <%# <div class="m-2"> %>
                    <h5 class="m-2 card-text ps-2"><strong>£</strong><strong data-booking-form-target="pricePerNight"><%=@artwork.price%></strong>/day</h5>
                  <%# </div> %>
                <%# </div> %>


              <%# <div class="d-flex justify-content-start "> %>
                <%# <div class="mx-2 mt-2"> %>
                  <i class="mx-2 mt-2 fa-solid fa-arrows-up-down fa-lg"> <span class="icon-text"><%= @artwork.height %>cm</span></i>
                <%# </div> %>
              <%# </div> %>


                <%# <div class="d-flex justify-content-start"> %>
                  <%# <div class="mx-2 mt-2"> %>
                    <i class="mx-2 mt-2 fa-solid fa-arrows-left-right fa-lg"> <span class="icon-text"><%= @artwork.width %>cm</span></i>
                  <%# </div> %>
                <%# </div> %>

            </div>
            <%# <div class="d-flex justify-content-between mt-2 px-3"> %>
              <%# <div> %>
                <%# <p style="display: -webkit-box;
                    overflow: auto;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;"
                    class="card-text mt-2 px-3">
                    <%=@artwork.description%>
                <%# </p> %>
              <%# </div> %>
            <%# </div> %>
            <%# <div class="d-flex justify-content-start mt-2 px-2">
              <div class="m-2"> %>
                <p class="card-text m-2 px-2">Address: <strong><%=@artwork.address%></strong></p>
              <%# </div> %>
            <%# </div> %>
          </div>
          <hr class="mx-2 my-4">
          <div class="card-body py-0 px-2">
            <%# <div class="d-flex justify-content-start "> %>
              <%# <div class="mx-2 mt-2"> %>
              <%# style="display: -webkit-box;
                    overflow: auto;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;" %>
              <p class="card-text mt-2 px-3">
                <%=@artwork.description%>
              </p>
              <%# </div> %>
            <%# </div> %>
          </div>

        </div>
        <%# <div> %>
          <%# <div class="d-flex flex-column flex-grow-1 justify-content-end"> %>
            <div class="d-flex align-items-end">
              <button
              data-action="click->booking-form#show_booking_form"
              type="button" class="btn btn-primary m-3">Make a booking</button>
            </div>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>
    </div>
    <%# <div> %>
    <div class="card-image-container">
      <%= cl_image_tag @artwork.photo.key, alt: @artwork.name, class:"card-image" %>
    </div>
    <%# </div> %>
    <%# </div> %>
    </div>
  </div>
  <div
  data-booking-form-target="bookingFormDiv"
  class="d-none container mb-3">
    <div class="card mt-2 shadow-sm p-3">
      <div class="row d-flex justify-content-between">
        <div class="col-5">
          <h3 class="text-purple">Make a new booking</h3>

          <%# BOOKING FORM %>

          <div class="mt-3">
            <form action="" data-booking-form-target="form" data-action="submit->booking-form#submit">
              <label for="start_date" class="form-label date required">Start Date</label>
              <input type="date" id="start_date" name="start_date" class="form-select mx-1 date required">
              <label for="end_date" class="form-label date required">End Date</label>
              <input type="date" id="end_date" name="end_date" class="form-select mx-1 date required">
              <button type="submit" class="btn btn-primary mt-3">Submit Dates</button>
            </form>
          </div>

        </div>
        <div class="col-7 d-flex flex-column border-start mt-5">
          <div class="border-bottom pb-3">
            <p class="">Number of days: <span data-booking-form-target="numberOfNights"></span></p>
            <p class="">Service Charge: £<span data-booking-form-target="serviceCharge"></span></p>
          </div>
          <div class="align-self-end text-end pt-3 ">
            <p class="">Total Price: £<span data-booking-form-target="totalPrice"></span></p>
            <%= simple_form_for [@artwork, @booking] do |f| %>
              <div class="d-none">
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              </div>
              <%= f.submit "Confirm", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3">
  <div class="card mt-2 shadow-sm p-3">
    <div style="width: 100%; height: 300px; "
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<div class="container">
  <div class="container p-0">
    <div class="col-4 col-sm-6">
    <h3>Customer Reviews</h3>
    <% if @artwork.reviews.empty? %>
      <small><em class="text-muted">There are no reviews yet</em></small>
    <% elsif @artwork.reviews.count == 1%>
      <small><em class="text-muted">There is <%= @artwork.reviews.count %> review</em></small>
    <% else  %>
      <small><em class="text-muted">There are <%= @artwork.reviews.count %> reviews</em></small>
    <% end %>
    </div>
  </div>
  <div class="row mt-1 mb-3 d-flex justify-content-start">
    <% @artwork.reviews.each do |review| %>
      <div class="col-4 p-2">
        <div class="card review-card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="card-title m-0"><strong class="text-purple"><%= review.user.first_name %> <%= review.user.last_name %></strong></h4>
              </div>
              <div>
                <% review.rating.to_i.times do %>
                  <i class="fa-solid fa-star fa-lg" style="color:#40916c"> <span class="icon-text"></span></i>
                <% end %>
              </div>
            </div>
            <hr>
            <div class="mb-2">
              <p class="card-text"><%= review.comment %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
