<nav class="navbar bg-body-tertiary px-4 border-bottom">
  <div class="container-fluid ">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt:"Logo", width:"50", height:"50", class:"d-inline-block align-text-top" %>
    <% end %>
    <div>
      <%= link_to "List my artwork!", new_artwork_path, class:"btn btn-outline-primary mx-1 my-3" %>
      <%# Changes if a login button is showed or the user avatar %>
      <% if current_user %>
        <% if !current_user.bookings.empty? %>
          <%= link_to "My bookings", mybookings_path, class:"btn btn-outline-info mx-1 my-3"  %>
        <% end %>
        <%= link_to "My Artwork", myartworks_path, class:"btn btn-outline-info mx-2 my-3" %>
        <%= image_tag "default_avatar.png", alt:"User Photo", class:"avatar d-inline-block align-self-center" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class:"btn btn-outline-info m-3" %>
      <% end %>
    </div>
  </div>
</nav>



       <%# if current_user.photo.attached? %>
          <%#= image_tag current_user.photo.key, alt:"User Photo", width: "30", height: "30", class:"avatar d-inline-block align-self-center" %>
        <%# else %>
          <%# IMAGE TAG CODE HERE %>
        <%# end %>
