<nav class="navbar bg-body-tertiary px-4 border-bottom">
  <div class="container-fluid ">
    <%= link_to artworks_path do %>
      <%= image_tag "logo.png", alt:"Logo", width:"50", height:"50", class:"d-inline-block align-text-top" %>
    <% end %>
    <div>
      <%= link_to new_artwork_path do %>
        <button class="btn btn-outline-primary m-3" type="submit">List your artwork!</button>
      <% end %>
      <%# Changes if a login button is showed or the user avatar %>
      <% if current_user %>
          <%= image_tag "default_avatar.png", alt:"User Photo", class:"avatar d-inline-block align-self-center" %>
          <%= link_to "My artworks", myartworks_path %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <button class="btn btn-outline-info m-3" type="submit">Login</button>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>



       <%# if current_user.photo.attached? %>
          <%#= image_tag current_user.photo.key, alt:"User Photo", width: "30", height: "30", class:"avatar d-inline-block align-self-center" %>
        <%# else %>
          <%# IMAGE TAG CODE HERE %>
        <%# end %>
